.gallery img{
    width: 100%;
}
#NAV {
    width: 100%;
    height: auto;
    background-color: aqua;
}

#NAV a {
    text-decoration: none;
    color: blue;
    font-size: 25px;
    font-family: fantasy;
    padding-left: 10px;
    transition-duration: 0.5s;
    
    
}

#NAV a:hover {
    text-decoration: none;
    color: blueviolet;
    font-size: 28px;
    font-family: fantasy;
    padding-left: 10px;
}

td img{
    width: 10em;
    height: auto;
}

table {
    border-style: groove;
    border-color: black;
}
